html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* ページタイトル */
h1 {
  margin: 12px 12px 4px;
  font-size: 20px;
}
/* 説明文（SEO用） */
h1 + p {
  margin: 0 12px 8px;
  font-size: 13px;
  color: #555;
}

h2 {
  margin: 8px;
}

#map {
  width: 100%;
  height: 60vh;
}
/*現在地ボタン-------------------------------------------------  */
#locate-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#locate-btn:hover {
  background: #f0f0f0;
}
