html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h2 {
  margin: 8px;
}

#map {
  height: 80vh;   /* ← これが最重要 */
  width: 100%;
}
/*現在地ボタン-------------------------------------------------  */
#locate-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#locate-btn:hover {
  background: #f0f0f0;
}
