html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

/* 見出し */
h2 {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background: rgba(255,255,255,0.9);
  padding: 6px 12px;
  border-radius: 6px;
  margin: 0;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/*現在地ボタン-------------------------------------------------  */
#locate-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  width: 48px;
  height: 48px;
  border-radius: 50%;

  border: none;
  background: white;
  font-size: 22px;
  cursor: pointer;

  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
#locate-btn:hover {
  background: #f0f0f0;
}
