html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h2 {
  margin: 8px;
}

#map {
  height: 80vh;   /* ← これが最重要 */
  width: 100%;
}
#locate-btn {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 1000;

  padding: 6px 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

#locate-btn:hover {
  background: #f0f0f0;
}
