html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* ページタイトル */
h1 {
  margin: 12px 12px 4px;
  font-size: 20px;
}
/* 説明文（SEO用） */
h1 + p {
  margin: 0 12px 8px;
  font-size: 13px;
  color: #555;
}

h2 {
  margin: 8px;
}

#map {
  width: 100%;
  height: 60vh; 
}
.map-wrapper {
  position: relative;
  width: 100%;
  height: 60vh; 
}


/* 検索ボックスーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.search-box {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1000;
}
#search-input {
  width: 180px;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
#search-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: white;
  padding: 6px;
  border-radius: 6px;
  width: 180px;
}
#search-suggestions {
  background: #fff; 
  list-style: none;
  margin: 4px 0 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
}
#search-suggestions li {
  background: #fff;  
  padding: 6px;
  cursor: pointer;
}
#search-suggestions li:hover {
  background: #f0f0f0;
}

/*現在地ボタン-------------------------------------------------  */
#locate-btn {
  position: absolute;
  bottom: calc(20px + env(safe-area-inset-bottom));
  right: calc(20px + env(safe-area-inset-right));
  z-index: 1000;

  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 0;     
  line-height: 1;  
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}
/* ピンアイコン */
#locate-btn .icon {
  font-size: 24px;
  line-height: 1;
  margin: 0;
}
/* 「現在地」文字 */
#locate-btn .label {
  font-size: 9px;   
  line-height: 1;
  transform: translateY(2px);
}
#locate-btn:hover {
  background: #f0f0f0;
}

/* =========================
   スマホ最適化
========================= */
@media (max-width: 768px) {

  h1 {
    font-size: 18px;
    margin: 8px 12px 2px;
  }

  h1 + p {
    font-size: 12px;
    margin: 0 12px 6px;
  }

  #map {height: 70vh;}
  .map-wrapper {height: 70vh;}
}
/* 試験公開用文言*/
.site-notice {
  margin: 4px 12px 8px;
  font-size: 11px;
  color: #777;
}

.trial-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 11px;
  color: #555;
  text-align: center;
  padding: 4px 6px;
  z-index: 1000;
  border-top: 1px solid #ddd;
}
